
body{
	background-color: #13182C;
}

main{
	display: inline-block;
	margin-left: 20%;
	box-shadow:0px 0px 210px 13px rgba(61,71,80,1);
}

button{
	outline: none;
	width: 100px;
	height: 40px;
	font-size: 25px;
	border-radius: 10px;
	position:absolute;
	top: 20%;
	left: 45%;
}

button:hover{
	cursor: pointer;
}

.cell{
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 1px solid rgba(44,44,44,0.1);
}

