
body{
	background-color: rgba(0,0,62,1);
}

main{
	display: none;
	width: 600px;
	height: 600px;
	position:absolute;
	top: 5%;
	left: 26%;
}

button{
	outline: none;
	width: 100px;
	height: 40px;
	font-size: 25px;
	border-radius: 10px;
	position:absolute;
	top: 20%;
	left: 45%;
}

button:hover{
	cursor: pointer;
}

.cell{
	float: left;
	width: 10px;
	height: 10px;
	background-color: white;
	border: 1px solid rgba(44,44,44,0.1);
}

.whiteBox{
	background-color: white;
}

.greenBox{
	background-color: #008B00;
}

.orangeBox{
	background-color: #FFA500;
}